/* Задание 7.1: Адаптивная сетка */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
}

/* Задание 7.2: Media Queries (для мобильных устройств) */
@media (max-width: 600px) {

  .card,
  form {
    width: 90%;
    /* На маленьких экранах карточка занимает почти всю ширину */
    padding: 15px;
  }

  nav {
    display: flex;
    flex-direction: column;
    /* Ссылки встают друг под друга на телефонах */
    gap: 10px;
  }
}

/* Стили для валидации (Задание 8.1) */
.error-text {
  color: #e74c3c;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
  width: 90%;
}

.input-error {
  border: 2px solid #e74c3c !important;
}